{% include 'partials/navbar.html' %}

<style>
  .button {
font: bold 11px Arial;
text-decoration: none;
background-color: #EEEEEE;
color: #333333;
padding: 2px 6px 2px 6px;
border-top: 1px solid #CCCCCC;
border-right: 1px solid #333333;
border-bottom: 1px solid #333333;
border-left: 1px solid #CCCCCC;
}
</style>

<h1>Academia - Home</h1>
{% include "courses/lists.html" %}

<div>
  {% if request.session.user_role == "director" or request.session.user_role == "administrador" %}
      <a href="http://localhost:8000/courses/add_course/" class="button">Nuevo Curso</a>
      <a href="http://localhost:8000/courses/student/" class="button">Nuevo Estudiante</a>
      <a href="http://localhost:8000/courses/teacher/" class="button">Nuevo Professor</a>
  {% endif %}
</div>
