{% include 'partials/navbar.html' %}

<style>
    table {
      border-collapse: collapse;
    }
    tr, td, th { 
      border: solid;
      border-width: 1px;
      padding: 5px;
    }

    .button {
      font: bold 11px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
    }
</style>

<h1>Estudiantes</h1>

<form action="{% url 'courses:save_student' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h2>Registro de Estudiantes</h2></legend>
        {% if error_message %}<p><string>{{ error_message }}</string></p>{% endif %}
        <label for="name">Nombre</label><input type="text" name="name" id="name"/>
        <br>
        <label for="username">Nombre de usuario</label><input type="text" name="username" id="username" required/>
        <br>
        <label for="ci">CI</label><input type="text" name="ci" id="ci"/>
    </fieldset>
    <input type="submit" value="Registrar"/>
    <a href="http://localhost:8000/courses/" class="button">Volver</a>
</form>

<h2>Lista de Estudiantes</h2>
<ul>
    {% for student in students %}
    <li>{{ student.name }} - {{ student.ci }}</li>
    {% endfor%}
</ul>